<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header>
        <!-- 로고 -->
        <div class="logo">
            <a href="../main/home.html" th:href="@{/}">Let's Funding</a>
        </div>

        <!-- 메뉴 -->
        <div class="menu">
            <ul>
                <li><a href="#">펀딩 예정</a></li>
                <li><a href="#">펀딩</a></li>
            </ul>
        </div>

        <!-- 검색 -->
        <div class="search">
            <form action="#">
                <input class="int_search" type="text">
                <input class="btn_search" type="submit">
            </form>
        </div>

        <!-- 로그인 -->
        <div class="login">
            <ul>
                <li><a href="../user/loginForm.html" th:href="@{/user/login}">로그인</a></li>
                <li><a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a></li>
            </ul>
        </div>
    </header>
    <section>
        <h1>구매하기</h1>
        <img src="/images/toss-tee.png" style="max-width: 100%" />
        <h3>토스 티셔츠</h3>
        <span>1원</span>
        <p>----------------------</p>
        <div><label><input type="radio" name="method" value="카드" checked/>신용카드</label></div>
        <div><label><input type="radio" name="method" value="휴대폰"/>휴대폰</label></div>
        <div><label><input type="radio" name="method" value="문화상품권"/>상품권</label></div>
        <p>----------------------</p>
        <button id="payment-button">결제하기</button>
    </section>
<script src="https://js.tosspayments.com/v1"></script>
<script>
    var tossPayments = TossPayments("test_ck_OALnQvDd2VJjgjj4daVMj7X41mNW");
    var button = document.getElementById("payment-button");

    var orderId = new Date().getTime();

    button.addEventListener("click", function () {
        var method = document.querySelector('input[name=method]:checked').value; // "카드" 혹은 "휴대폰" 혹은 "상품권"

        var paymentData = {
            amount: 1,
            orderId: orderId,
            orderName: "토스 티셔츠",
            customerName: "이토페",
            successUrl: window.location.origin + "/pay/success",
            failUrl: window.location.origin + "/pay/fail",
        };

        tossPayments.requestPayment(method, paymentData);
    });
</script>
</body>
</html>